@import 'mixin';

.container-about {
    @include flexbox();
    padding: 150px 100px 100px;
    @media (max-width:1100px) {
        flex-direction: column;
        padding: 90px 50px 70px;
    }
    @media (max-width:440px) {
        padding: 50px 30px 40px;
    }
}

.about{
    &__body {
        color: #22356F;
    }
    &__title {
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        @media (max-width:1100px) {
            text-align: center;
            margin: 0px 0px 20px;
        }
    }
    &__text {
        font-size: 24px;
        line-height: 40px;
        font-weight: 600;
        letter-spacing: 0.005em;
        max-width: 700px;
        margin: auto;
    }
}

.main__subtitle {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
    margin: 0px 0px 20px;
}

//-------------------------

.main__rows {
    @include flexbox();
    margin: 0 0 80px;
    min-width: 0;
}

.container-one {
    min-width: 0;
}

.rows {
    &__columns {
        height: 300px;
    }
    &__heading {
        font-size: 32px;
        line-height: 34px;
        letter-spacing: -0.006em;
        color: #ffffff;
        text-align: center;
        margin: 60px 10px 0px;
        font-weight: 600;
        span {
            display: inline-block;
            width: 70%;
            border-top: 2px solid #ffffff;
            margin: 20px 40px;
        }
        &--b{
            font-size: 28px;
            letter-spacing: -0.03em;
            color: #22356F;
            font-weight: 500;
            margin: 10px 30px 30px 50px;
            text-align: start;
            @media (max-width:1100px) {
                margin: 10px 10px 20px 20px;
            }
        }
    }
    &__text {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: -0.03em;
        color: rgba(34, 53, 111, 0.5);
        max-width: 300px;
        margin: 10px 30px 30px 50px;
        @media (max-width:1100px) {
            margin: 10px 10px 20px 20px;
        }
    }
}

//-----------------------------

.container-wrap {
    flex-wrap: wrap;
}

.rows__line {
    flex: 0 0 33.333%;
    &--b{
        padding: 0px 0px 3% 0px;
        @media (max-width:490px) {
            margin: 0 auto;
        }
    }
    &--hover {
        padding: 0px 0px 13% 0px;
        opacity: 0.9;
        &:hover {
            top: 1px;
            opacity: 1;
            box-shadow: 1px 2px 2px #000000;
        }
        @media (max-width:767px) {
            padding: 0px 0px 18% 0px;
        }
        @media (max-width:490px) {
            padding: 0px 0px 24% 0px;
        }
    }
    @media (max-width:767px) {
        flex: 0 0 50%;
    }
    @media (max-width:490px) {
        flex: 0 0 100%;
    }
}

/* *Цвета для колонок */
.pink {
    background: #FFE2DE;
}
.green {
    background: #C4E769;
}
.blue {
    background: #62D0DF;
}
.dark-blue {
    background: #0052C1;
}
.dark {
    background: #22356F;
}
.lilac {
    background: #DEE1FF;
}
.violet {
    background: #8F00FF;
}
.picture {
    background: url(../img/003.jpg) no-repeat;
    background-size: cover;
}
/* *-------------------------------------*/

.slick-list {
    overflow: hidden;
}

.slick-track {
    @include flexbox();
}
