@import 'mixin';

body {
    &.lock {
            overflow: hidden;
    }
}

.header {
    &__burger {
        display: none;
        @media (max-width: 570px) {
            display: block;
            position: absolute;
            top: 20px;
            left: 14px;
            width: 30px;
            height: 20px;
            z-index: 4;
            &::before, &::after {
                content: '';
                background-color: #22356F;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                @include animation(0.4s, 0s);
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            &.active::before {
                transform: rotate(45deg);
                top: 9px;
            }
            &.active::after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
            &.active span {
                transform: scale(0);
            }
            span {
            width: 100%;
            position: absolute;
            background-color: #22356F;
            height: 2px;
            left: 0;
            top: 9px;
            @include animation(0.4s, 0s);
            }
        }
    }
}

.header-top {
    width: 100%;
    position: fixed;
    z-index: 50;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #F4F9E2;
        z-index: 3;
    }
    &__body {
        font-size: 14px;
        position: relative;
        @include flexbox();
        justify-content: space-around;
        align-items: center;
        z-index: 3;
        height: 60px;
        margin: 10px 20px;
        @media (max-width: 570px) {
            height: 40px;
            justify-content: center;
        }
        @media (max-width: 370px) {
            justify-content: flex-end;
        }
    }
    .logo {
        position: relative;
        z-index: 4;
        @include animation(0.4s, 0s);
        &:hover {
            transform: translate3d(5px, 5px, 10px) rotate3d(1, 1, 1, -10deg);
        }
        @media (max-width: 570px) {
            margin: 0px 15px 0px 0px;
        }
    }
    &__navigation {
        font-size: 16px;
        @media (max-width: 570px) {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 50%;
            background-color:#f8f4dcfa;
            padding: 80px 10px 20px;
            @include animation(0.4s, 0s);
            overflow: auto;
            &.active {
                left: 0;
            }
        }
        li {
            padding: 10px;
            line-height: 16px;
            display: inline-block;
            @media (max-width: 570px) {
                display: block;
                text-align: center;
                font-size: 30px;
                margin: 0px 0px 20px;
            }
            &:visited {
                font-weight: 600;
            }
            &:hover{
                font-weight: 600;
                box-shadow: inset 0px -1px 0px #22356F;
            }
            a {
                color: #22356F;  
            }
        }
    }
    &__btn {
        @include flexbox();
        text-transform: uppercase;
        background: #62D0DF;
        height: 45px;
        border-radius: 50px;
        position: relative;
        font-size: 16px;
        z-index: 4;
        a {
            align-self: center;
            color: #ffffff;        
            padding: 20px; 
            &:hover {
                color: #62D0DF;
                border-radius: 50px;  
                background-color: #ffffff;
                border: 1px solid #62D0DF;
                padding: 19px;
            }
        }
    }
}
