@import 'mixin';

.main__start-screen { 
    position: relative;
    width: 600px;
    height: 800px;
    max-height: 100%; 
    margin: 0 auto;
    @media (max-width:365px) {
        height: 900px;
    }
    .logo {
        display: inline-block;
        @include animation(0.4s, 0s);
        &:hover {
            transform: translate3d(5px, 5px, 20px) rotate3d(1, 1, 1, 10deg);
        }
        @media (max-width:990px) {
            display: none;
        }
    }
}

.main__row {
    @include flexbox();
    height: 100%;
    background-color: #F4F9E2;
} 

.main{
    &__body {
        position: absolute;
        top: 50%;
        height: 400px;
        margin: -150px 30px 0px;
        font-weight: 600;
        @media (max-width:1300px) {
            top: 40%;
        }
        @media (max-width:1100px) {
            margin: -170px 20px 0px;
        }
        @media (max-width:990px) {
            margin: -250px 20px 0px;
        }
        @media (max-width:365px) {
            margin: -300px 20px 0px;
        }
    }
    &__title {
        font-size: 48px;
        text-transform: uppercase;
        line-height: 53px;
        letter-spacing: 2px;
        color: #22356F; 
        margin: 30px 0px;
        @media (max-width:1100px) {
            margin: 20px 0px 0px;
        }
    }
    &__text {
        font-size: 24px;
        line-height: 42px;
        color: #22356F;
        margin: 40px 0px;
        @media (max-width:1100px) {
            margin: 20px 0px;
        }
        @media (max-width:800px) {
            line-height: 36px;
        }
        @media (max-width:767px) {
            line-height: 42px;
            margin: 30px 10px;
        }
    }
    &__image {
        margin: 90px 20px 20px 0px;
        height: 100%;
        img {
            object-fit: cover;
            max-width: 100%;
            box-shadow: 0px 1px 3px #FAB63E;
            padding: 10px;
            background-color: #fff;
        }
        @media (max-width:990px) {
            width: 500px;
        }
        @media (max-width:767px) {
            display: none;
        }
    }
}

.main__btn {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 23px;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    @media (max-width:440px) {
        align-items: center;
        flex-direction: column;
    }
    a {
        color: #FAB63E;
        margin: 0px 30px 0px 0px;
        padding: 10px 30px;
        @media (max-width:1100px) {
            margin: 0px 20px 0px 0px;
        }
        @media (max-width:800px) {
            padding: 10px 20px;
        }
        @media (max-width:440px) {
            margin: 0px 0px 10px 0px;
        }
        &:hover {
            background-color: #FAB63E;
            color: #fff;
        }
    }
} 