@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import 'nullstyle';

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

@import 'header';
@import 'start-screen';
@import 'why';
@import 'about';
