.why {
    width: 100%;
    background: rgb(98, 209, 223);
    &__column {
        display: flex;
        justify-content: space-between;
        @media (max-width:990px) {
            flex-direction: column;
        }
    }
    &__body {
        align-items: center;
        position: relative;
        margin: 0 auto;
        flex: 1 1 auto;
        max-width: 700px;
        padding: 7% 30px 20px;
        color: #fff;
    }
    &__title {
        font-size: 36px;
        font-weight: 600;
        line-height: 27px;
        margin: 0px 0px 60px;
        letter-spacing: -0.006em;
        @media (max-width:990px) {
            text-align: center;
            margin: 10px 0px 30px;
        }
    }
    &__text {
        font-size: 24px;
        line-height: 40px;
    }
    &__img {
        flex: 0 0 525px;
        @media (max-width:990px) {
            text-align: center;
            margin: 10px;
        }
        @media (max-width:440px) {
            display: none;
        }
        img {
            max-width: 100%;
        }
    }
}